!!!
%html
  %head
    %meta{content:  "text/html; charset=UTF-8", "http-equiv":  "Content-Type"}/
    %meta{content:  "IE=edge", "http-equiv":  "X-UA-Compatible"}/
    %meta{charset:  "utf-8"}/
    %meta{content:  "ie=edge", "http-equiv":  "x-ua-compatible"}/
    -# %meta{content:  "width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no", name:  "viewport"}/
    %meta{content:  "width=device-width, initial-scale=1.0", name:  "viewport"}/
    = javascript_include_tag 'https://code.jquery.com/jquery-2.1.4.js'
    = stylesheet_link_tag :site
    = stylesheet_link_tag 'foundation.min.css'
    %title= current_page.data.title || "rodrigo mu&ntilde;oz portfolio"
  %body{class:  page_classes}
    = partial 'partials/header'
    = yield
    = partial 'partials/footer'
    = javascript_include_tag 'javascripts/vendor/jquery.js'
    = javascript_include_tag 'javascripts/vendor/what-input.js'
    = javascript_include_tag 'javascripts/vendor/foundation.js'
    = javascript_include_tag 'javascripts/smplmodl.js'
    = javascript_include_tag :all
    -# = javascript_include_tag 'https://cdn.jsdelivr.net/foundation/6.2.4/foundation.min.js'
