.row.align-stretch.align-center.text-center.expanded.small-collapse.medium-collapse.large-collapse
  -# %button.md-trigger{"data-modal" => "modal-1"} Fade in & Scale
  - data.projects.each do |project|
    .columns.align-center.small-12.small-collapse.medium-3.medium-collapse.large-4.large-collapse.end
      -# .columns.align-stretch.small-6.small-collapse.medium-3.medium-collapse.large-4.large-collapse.end
      .holder.text-center{class: [!project.finished? && "unfinished"] }
        .row.align-stretch.align-center.text-center
          .row
            .columns
              .name= project[:name]
              .description= project[:description]
        .row
          .columns.holder-body
            - if !project.finished?
              = '(unfinished)'

        .row
          .columns.small-10.small-offset-1.medium-10.medium-offset-1.large-10.large-offset-1.end
            .row.align-justify.link-n-gh{style: "border: 1px solid green"}
              .columns.small-2.medium-2.large-2.link{style: "border: 1px solid red"}
                - if project[:lnk] == 'lnk'
                  = 'lnk'
                - else
                  = link_to 'lnk', project[:lnk], target: '_blank'

                  -# //these two lines trow a WEIRD err!!
                  -# - link_to project[:lnk], target: '_blank' do
                  -#  = image_tag 'link-icon-black.gif'

                  -# - if !project.finished?
                  -#   - link_to project[:lnk], target: '_blank' do
                  -#     = image_tag 'link-icon-gray.gif'
                  -# - else
                  -#   - link_to project[:lnk], target: '_blank' do
                  -#     = image_tag 'link-icon-black.gif'
              .columns.small-2.medium-2.large-2.end.gh{style: "border: 1px solid red"}
                - if project[:gh] == 'gh'
                  = ''
                - else
                  = link_to 'gh', project[:gh], target: '_blank'
                  -# %a{href: "#{project[:gh]}", target: '_blank'} gh


#myModal.modal
  / Modal content
  .modal-content
    .modal-header
      %span.close ×
      %div.abouttitle About me.
    .modal-body
      %p We live in important times, times of transitions, of changing paradigms and of new truths. A new world requires new mindsets, new beliefs and new sets of skills.
      %p As a person I have two driving forces in my life: visionary discovery and helping others. Together they have lead me to learn web development and this portfolio shows my current work. Currently they are the first baby steps of a bright future.
      %p Please don't hesisate to get in touch for lunch or other social acitvity to know more and share ideas, hit the contact link on top right to find my contact info.
    .modal-footer.text-right
      %p In code we will trust.
