.row.align-stretch.align-center.text-center.expanded.small-collapse.medium-collapse.large-collapse
  - data.projects.each do |project|
    .columns.align-stretch.small-6.small-collapse.medium-3.medium-collapse.large-4.large-collapse.end
      .holder.text-center{class: [!project.finished? && "unfinished"] }
        .row.align-stretch.align-center.text-center
          .row
            .columns
              .name= project[:name]
              .description= project[:description]
        .row
          .columns.holder-body
            - if !project.finished?
              = '(unfinished)'
        .row.align-justify.linktogh
          .columns.linkto.small-2.medium-2.large-2
            .linkto.text-left
              - if project[:lnk] == 'lnk'
                = ''
              - else
                = link_to 'lnk', project[:lnk], target: '_blank'
          .columns.octocat.small-2.medium-2.large-2
            .gh.text-right
              - if project[:gh] == 'gh'
                = ''
              - else
                = link_to 'gh', project[:gh], target: '_blank'
                -# %a{href: "#{project[:gh]}", target: '_blank'} gh
