.row.align-stretch.align-center.text-center.expanded.small-collapse.medium-collapse.large-collapse
  -# %button.md-trigger{"data-modal" => "modal-1"} Fade in & Scale
  - data.projects.each do |project|
    .columns.align-stretch.small-6.small-collapse.medium-3.medium-collapse.large-4.large-collapse.end
      .holder.text-center{class: [!project.finished? && "unfinished"] }
        .row.align-stretch.align-center.text-center
          .row
            .columns
              .name= project[:name]
              .description= project[:description]
        .row
          .columns.holder-body
            - if !project.finished?
              = '(unfinished)'
        .row.align-justify.linktogh
          .columns.linkto.small-2.medium-2.large-2
            .linkto.text-left
              - if project[:lnk] == 'lnk'
                = ''
              - else
                = link_to 'lnk', project[:lnk], target: '_blank'

                -# //these two lines trow a WEIRD err!!
                -# - link_to project[:lnk], target: '_blank' do
                -#  = image_tag 'link-icon-black.gif'

                -# - if !project.finished?
                -#   - link_to project[:lnk], target: '_blank' do
                -#     = image_tag 'link-icon-gray.gif'
                -# - else
                -#   - link_to project[:lnk], target: '_blank' do
                -#     = image_tag 'link-icon-black.gif'
          .columns.octocat.small-2.medium-2.large-2
            .gh.text-right
              - if project[:gh] == 'gh'
                = ''
              - else
                = link_to 'gh', project[:gh], target: '_blank'
                -# %a{href: "#{project[:gh]}", target: '_blank'} gh


#myModal.modal
  / Modal content
  .modal-content
    .modal-header
      %span.close ×
      %div.abouttitle About me.
    .modal-body
      %p We live in important times, times of transitions, of changing paradigms and of new truths. A new world requires new mindsets, new beliefs and new sets of skills.
      %p As a person I have two driving forces in my life: visionary discovery and helping others. Together they have lead me to learn web development and this portfolio shows my current work. Currently they are the first baby steps of a bright future.
      %p Please don't hesisate to get in touch for lunch or other social acitvity to know more and share ideas, hit the contact link on top right to find my contact info.
    .modal-footer.text-right
      %p In code we will trust.




  -# = partial 'modal_js_call'
  -# = javascript_include_tag 'javascripts/modal/classie.js'
  -# = javascript_include_tag 'javascripts/modal/modalEffects.js'
  -# / for the blur effect
  -# :javascript
  -#   // this is important for IEs
  -#   var polyfilter_scriptpath = '/js/';
  -# = javascript_include_tag 'javascripts/modal/cssParser.js'
  -# = javascript_include_tag 'javascripts/modal/css-filters-polyfill.js'
  -# = partial 'modal'
  -# #modal-1.md-modal.md-effect-1
  -#   .md-content
  -#     %h3 Modal Dialog
  -#     %div
  -#       %p This is a modal window. You can do the following things with it:
  -#       %ul
  -#         %li
  -#           %strong Read:
  -#           modal windows will probably tell you something important so don't forget to read what they say.
  -#         %li
  -#           %strong Look:
  -#           a modal window enjoys a certain kind of attention; just look at it and appreciate its presence.
  -#         %li
  -#           %strong Close:
  -#           click on the button below to close the modal.
  -#       %button.md-close Close me!
  -# / the overlay element
  -# .md-overlay
  -# %br{type:"_moz"}/
